# 相似度计算三种常见方法

### 欧式距离

In [1]:
import pandas as pd
df = pd.DataFrame([[5, 1, 5], [4, 2, 2], [4, 2, 1]], columns=['用户1', '用户2', '用户3'], index=['物品A', '物品B', '物品C'])
df

     用户1  用户2  用户3
物品A    5    1    5
物品B    4    2    2
物品C    4    2    1

In [2]:
import numpy as np
dist = np.linalg.norm(df.iloc[0] - df.iloc[1])
dist

3.3166247903554

### 余弦相似度

In [3]:
import pandas as pd
df = pd.DataFrame([[5, 1, 5], [4, 2, 2], [4, 2, 1]], columns=['用户1', '用户2', '用户3'], index=['物品A', '物品B', '物品C'])
df

     用户1  用户2  用户3
物品A    5    1    5
物品B    4    2    2
物品C    4    2    1

In [4]:
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(df)
pd.DataFrame(user_similarity, columns=['物品A', '物品B', '物品C'], index=['物品A', '物品B', '物品C'])

          物品A       物品B       物品C
物品A  1.000000  0.914659  0.825029
物品B  0.914659  1.000000  0.979958
物品C  0.825029  0.979958  1.000000

### 皮尔逊相关系数

In [5]:
from scipy.stats import pearsonr
X = [1, 3, 5, 7, 9]
Y = [9, 8, 6, 4, 2]
corr = pearsonr(X, Y)
print('相关系数r值为' + str(corr[0]) + '，显著性水平P值为' + str(corr[1]))

相关系数r值为-0.9938837346736188，显著性水平P值为0.0005736731093322215

In [6]:
import pandas as pd
df = pd.DataFrame([[5, 1, 5], [4, 2, 2], [4, 2, 1]], columns=['用户1', '用户2', '用户3'], index=['物品A', '物品B', '物品C'])
df = df.T
df

     物品A  物品B  物品C
用户1    5    4    4
用户2    1    2    2
用户3    5    2    1

In [7]:
A = df['物品A']
corr_A = df.corrwith(A)
corr_A

物品A    1.000000
物品B    0.500000
物品C    0.188982
dtype: float64

In [8]:
df.corr()

          物品A       物品B       物品C
物品A  1.000000  0.500000  0.188982
物品B  0.500000  1.000000  0.944911
物品C  0.188982  0.944911  1.000000